<!DOCTYPE html>
<html lang="en">
  <head>
    {%load static%}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dentition</title>
    <!-- google font -->
    <link
      href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">
            <i class="fas fa-tooth"></i>Dentition
          </a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto me-2 my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item">
                <p style="color: white">Hello, {{request.user}}</p>
              </li>

              <li class="nav-item">
                <button
                  type="button"
                  onclick="window.location.href='/logout'"
                  class="btn btn-primary btn-danger btn-sm"
                >
                  Logout
                </button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <!-- banner section -->
    <section class="w3l-main-slider" id="home">
      <div class="banner-content">
        <div id="demo-1">
          <div class="demo-inner-content">
            <div class="container">
              {%if appointments%}
              <table class="table">
                <thead class="thead-dark">
                  <th scope="col">Full Name</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Service</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                </thead>
                <tbody>
                  {% for patient in appointments %}
                  <tr style="color: white">
                    <td>{{patient.fullName}}</td>
                    <td>{{patient.phoneNumber}}</td>
                    <td>{{patient.service}}</td>
                    <td>{{patient.date}}</td>
                    <td>{{patient.time}}</td>
                    <td>
                      <button
                        type="button"
                        onclick="window.location.href='/delete/{{patient.id}}'"
                        class="btn btn-primary btn-sm"
                      >
                        Delete
                      </button>
                    </td>
                    <td>
                      <button
                        type="button"
                        onclick="window.location.href='/update/{{patient.id}}'"
                        class="btn btn-primary btn-sm"
                      >
                        Update
                      </button>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>

              {%else%}
              <div class="banner-info">
                <h4 class="mb-1">There are no</h4>
                <h3>Appointments</h3>
              </div>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
